<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail-Chat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/style-fef972b6.css' %}">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'assets/logo-f6d882de.png' %}" type="image/x-icon">
</head>
<body class="bg-cover bg-no-repeat">
    {% block content %}
      
    {% endblock content %}
</body>
</html>