{% extends "chat/base.html" %}
{% block content %}
<div class="home-container font-itim bg-[#FDFDFD] bg-opacity-10 backdrop-blur-sm w-[85%] m-auto mt-8 py-8 px-12 rounded-lg">
    <div class="message underline text-black text-center text-3xl bg-white rounded-xl bg-opacity-80 p-1 my-2">
        Messages
    </div>
    {% for message in recived_messages %}
    <div class="message text-black text-center text-2xl bg-white rounded-xl bg-opacity-80 p-1 my-2">
            <ul class="flex justify-start items-center">
                <li class="ml-6"><a href="{% url 'user' message.sender.username%}"><img src="{{message.sender.profile.profile_pic.url}}" alt="logo" class="w-10 mr-4 inline rounded-full border-2 border-gray-600">{{message.sender.username}}</a></li>
                <li class="ml-4 text-center grow basis-0"><a href="{% url 'message' message.pk %}">{{message.title}}</a></li>
                <li class="mr-4">{{message.created_at}}</li>
            </ul>
    </div>
    {% endfor %}
    <!-- <div class="pagation w-[60%] mt-8 font-itim text-black text-center text-2xl bg-white rounded-xl bg-opacity-80 p-1 my-2 m-auto">
        <ul class="flex justify-start items-center">
            <li class="ml-4">back</li>
            <li class="text-center grow basis-0">1 ... 6 7 8 ... 9</li>
            <li class="mr-4">next</li>
        </ul>
    </div>
</div> -->
{% endblock content %}
